.settings {
    font-size: 36px;

}

.settings h1 {
    font-size: 1.8em;
    font-weight: 800;
}

.settings h2 {
    font-size: 1.5em;
    font-weight: 800;

}

.settings h3 {
    font-size: 1.2em;
    font-weight: 600;
}